<main class="view-menu">
   <h1>Menu</h1>

   <section class="table-container">
      <table class="table-stripped">
         <thead class="table-title">
            <tr>
               <th><p>id</p></th>
               <th><p>section</p></th>
               <th><p>item</p></th>
               <th><p>description</p></th>
               <th><p>price</p></th>
               <th><p>icons</p></th>
            </tr>
         </thead>

         {{#each menu}}
         <tbody class="table-body">
            <tr>
               <td><p class="table-center">{{id}}</p></td>
               <td><p>{{section}}</p></td>
               <td><p>{{item}}</p></td>
               <td><p>{{descrip}}</p></td>
               <td><p class="table-center">{{price}}</p></td>
               <td class="table-center">
                  <a href=""><i class="far fa-edit fa-1x update-item" data-id="{{this.id}}"></i></a>
                  <a href=""><i class="fas fa-trash fa-1x delete-item" data-id="{{this.id}}"></i></a>
               </td>
            </tr>
         </tbody>
         {{/each}}
      </table>
   </section>
</main>