<main class="view-menu">
   <h1>Menu</h1>

   <section class="table-container">
      <table class="table-stripped">
         <thead class="table-title">
            <tr>
               <th><p>id</p></th>
               <th><p>section</p></th>
               <th><p>item</p></th>
               <th><p>description</p></th>
               <th><p>price</p></th>
               <th><p>icons</p></th>
            </tr>
         </thead>

         {{#each menu}}
         <tbody class="table-body">
            <tr>
               <td><p class="table-center">{{id}}</p></td>
               <td><p>{{section}}</p></td>
               <td><p>{{item}}</p></td>
               <td><p>{{descrip}}</p></td>
               <td><p class="table-center">{{price}}</p></td>
               <td class="table-center">
                  <a href=""><i class="far fa-edit fa-1x update-item" data-id="{{id}}" data-section="{{section}}"
                                    data-item="{{item}}" data-descrip="{{descrip}}" data-price="{{price}}"></i></a>
                  <a href=""><i class="fas fa-trash fa-1x delete-item" data-id="{{id}}"></i></a>
               </td>
            </tr>
         </tbody>
         {{/each}}
      </table>
   </section>
</main>


<section class="modal-bg">
   <div class="modal add-to-menu-form">
      <form class="update-form">
         <input class="form-paraiso input-xl" id="section" type="text" placeholder="type of food" 
               data-section="{{section}}" value="{{section}}">
         <input class="form-paraiso input-xl" id="item" type="text" placeholder="add item" 
               data-item="{{item}}" value="{{item}}">
         <input class="form-paraiso input-xl" id="descrip" type="text" placeholder="add description" 
               data-descrip="{{descrip}}" value="{{descrip}}">
         <input class="form-paraiso input-xl" id="price" type="text" placeholder="add price" 
               data-price="{{price}}" value="{{price}}">
         <button type="submit" class="save button-orange">save</button>
         <button type="submit" class="cancel button-red">cancel</button>
      </form>
   </div>
</section>