<main class="container">
   <h1>Menu</h1>

   <section class="table-view">
      <div class="columns">
         <p>id</p>
      </div>
      <div class="columns">
         <p>Section</p>
      </div>
      <div class="columns">
         <p>Items</p>
      </div>
      <div class="columns">
         <p>Description</p>
      </div>
      <div class="columns">
         <p>Price</p>
      </div>
      <div class="columns">
         <p>Icons</p>
      </div>
   </section>

   {{#each menu}}
      <section class="table-view">
         <div class="columns">
            <p>{{id}}</p>
         </div>
         <div class="columns">
            <p>{{section}}</p>
         </div>
         <div class="columns">
            <p>{{item}}</p>
         </div>
         <div class="columns">
            <p>{{descrip}}</p>
         </div>
         <div class="columns">
            <p>{{price}}</p>
         </div>
         <div class="columns col-icons">
            <a href=""><i class="far fa-edit fa-1x"></i></a>
            <a href=""><i class="fas fa-trash fa-1x"></i></a>
         </div>
      </section>
   {{/each}}
</main>